[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
seaborn = "*"
numpy = "*"
scikit-learn = "*"
pandas-profiling = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
tslearn = "*"
statsmodels = "*"
yellowbrick = "*"

[dev-packages]

[requires]
python_version = "3.9"
