[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
jupyter = "*"
pandas = "*"
nltk = "*"
matplotlib = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
scikit-learn = "*"
emoji = "*"
wordcloud = "*"
contractions = "*"

[dev-packages]

[requires]
python_version = "3.10"
