[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
numpy = "*"
requests = "*"
pillow = "*"
matplotlib = "*"
beautifulsoup4 = "*"
lxml = "*"
graphviz = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
